<!-- Page hiện tại -->
<div class="container-fluid">
    <div class="row vh-100">
        <!-- Side bar -->
        {{> sidebar_main}}
        <!-- Main content -->
        <div class="col-md-11 col-lg-11 col-xl-11 bg-grey px-4">
            {{> nav_main}}
            <div class="container-fluid bg-light mt-4 py-2">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <h5 class="ms-4 my-3">User</h5>
                        <div class="ms-2 flex-grow-1">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle p-1 mx-3 w-75" type="button"
                                    id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="min-width: 100px" data-filter="user">
                                    All users
                                </button>
                                <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenu1"
                                    style="position: absolute; max-height: 200px; overflow-y: auto;">
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            All users
                                        </button>
                                    </li>
                                    {{#each members}}
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            {{User.first_name}} {{User.last_name}}
                                        </button>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center">
                        <h5 class="ms-4 my-3">Action</h5>
                        <div class="ms-2 flex-grow-1">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle p-1 mx-3 w-75" type="button"
                                    id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="min-width: 100px" data-filter="action">
                                    All actions
                                </button>
                                <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenu1"
                                    style="position: absolute">
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            All actions
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            Create
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            Delete
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            Update
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center">
                        <h5 class="ms-4 my-3">Role</h5>
                        <div class="ms-2 flex-grow-1">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle p-1 mx-3 w-75" type="button"
                                    id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="min-width: 100px" data-filter="role">
                                    All roles
                                </button>
                                <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenu1"
                                    style="position: absolute">
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            All roles
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            Tester
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            Developer
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button">
                                            Project manager
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-light py-2">
                <div class="align-items-center d-flex">
                    <h5 class="ms-4 my-3">Show 10 entries</h5>
                    <div class="ms-auto" style="min-width: 50%">
                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                aria-describedby="search-addon" id="searchActivity"/>
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-color1 py-3">
                <div class="row">
                    <div class="col-md-2 fs-5 text-color-1">Name</div>
                    {{!-- <div class="col-md-1 fs-5 text-color-1">title</div> --}}
                    <div class="col-md-4 fs-5 text-color-1">Activity</div>
                    <div class="col-md-2 fs-5 text-color-1">Action</div>
                    <div class="col-md-2 fs-5 text-color-1">Role</div>
                    <div class="col-md-2 fs-5 text-color-1">Date</div>
                </div>
            </div>
            <div class="container-fluid bg-light py-3">
                {{#each activities}}
                <div class="row flex-wrap activity-item" data-name="{{title_name}}" 
                data-user-name="{{Actor.User.first_name}} {{Actor.User.last_name}}" 
                data-action="{{action}}" data-role="{{Actor.User.Role.name}}">
                    <div class="col-md-2 text-color-1">{{Actor.User.first_name}} {{Actor.User.last_name}}</div>
                    <div class="col-md-4 text-color-1">{{title_name}}</div>
                    <div class="col-md-2 text-color-1">{{action}}</div>
                    <div class="col-md-2 text-color-1">{{Actor.User.Role.name}}</div>
                    <div class="col-md-2 text-color-1">{{formatDate created_at "MMM DD YYYY HH:mm"}}</div>
                    <hr />
                </div>
                {{/each}}

                <div class="row mt-5 align-content-center px-3 pb-4">
                    <div class="col">
                    <h4 id="pagination-info">Showing 1 to 6 of 6 entries</h4>
                    </div>
                    <div class="col d-flex align-items-center">
                    <button class="border-0 rounded-3 p-2 text-muted ms-auto" id="prev-page">
                        <i class="bi bi-chevron-double-left"></i>
                    </button>
                    <div
                        class="bg-main-color rounded-circle d-flex justify-content-center align-items-center mx-3"
                        style="width: 40px; height: 40px"
                    >
                        <h1 class="mb-0 text-light" style="font-size: 1.5rem" id="current-page">1</h1>
                    </div>
                    <button class="border-0 rounded-3 p-2 text-muted me-3" id="next-page">
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>                
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/list-activity.js"></script>


{{#section "head"}}
<title>Activity</title>
{{/section}}