<main class="bg-grey">
  <div class="container-fluid">
    <div class="row">
      {{> sidebar_main}}

      <div class="col-md-11 col-lg-11 col-xl-11 bg-grey px-4">
        {{> nav_main}}

        <div class="row">
          <div class="col-md-3"><h1 class="ps-4 pt-2">Module</h1></div>
          <div class="col-md-6">
            <input id="module-search" class="w-100 p-3 pt-1 pb-1" type="text"
                      placeholder="Search module by name" value="{{moduleName}}" />
          </div>
          <div class="col-md-3 d-flex justify-content-end">
            <div
              id="add-module"
              class="mx-4 my-3 d-flex btn custom-bold-btn"
            >
              <div class="me-2 p-1" data-bs-toggle="modal" data-bs-target="#addModuleModal">Add Module</div>
              <img src="/icons/add.svg" alt="" />
            </div>
          </div>
        </div>

        <div class="container bg-white">
          <div class="row px-5 pt-5" id="moduleContainer">
            {{#each modules}}
              <div class="col-lg-3 col-md-4 col-sm-6 mb-3 module-item" data-name="{{name}}">
                <div class="bg-white">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <i class="fa fa-list-alt fa-4x" aria-hidden="true"></i>
                        <div class="p-2">
                          <h4 class="card-title">{{name}}</h4>
                        </div>
                      </div>
                      <hr />
                      <div class="d-flex justify-content-end">
                        <div>
                          <i role="button" class="bi bi-pencil-square"  data-bs-toggle="modal" data-bs-target="#editModuleModal" onclick="showEditModuleModal(this)" data-id="{{id}}" data-name="{{name}}"></i>
                          <i role="button" class="bi bi-trash text-danger" data-bs-toggle="modal" data-bs-target="#deleteModuleModal" onclick="confirmDelete({{id}})"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="row mt-5 align-content-center px-3 pb-4">
            <div class="col">
              <h4 id="pagination-info">Showing 1 to 6 of 6 entries</h4>
            </div>
            <div class="col d-flex align-items-center">
              <button class="border-0 rounded-3 p-2 text-muted ms-auto" id="prev-page">
                <i class="bi bi-chevron-double-left"></i>
              </button>
              <div
                class="bg-main-color rounded-circle d-flex justify-content-center align-items-center mx-3"
                style="width: 40px; height: 40px"
              >
                <h1 class="mb-0 text-light" style="font-size: 1.5rem" id="current-page">1</h1>
              </div>
              <button class="border-0 rounded-3 p-2 text-muted me-3" id="next-page">
                <i class="bi bi-chevron-double-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Create module -->
<div
  class="modal fade"
  id="addModuleModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form action="/api/v1/module" id="addModuleForm" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="moduleNameModalLabel">
            Enter Module Name
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <input type="hidden" id="projectId" name="projectId" value="{{projectId}}">
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="Module Name"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{{!-- Edit Modal --}}
<div class="modal fade" id="editModuleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="" id="editModuleForm" onsubmit="editModule(event)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Edit Module
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <input type="hidden" id="projectId" name="projectId" value="{{projectId}}">
          <div class="row g-2">
            <div class="col mb-6">
              <label for="nameEdit" class="form-label">Name</label>
              <input type="text" id="nameEdit" name="name" class="form-control" placeholder="John" required />
            </div>
          </div>
          <div class="text-center badge bg-label-danger" id="errorMessage"></div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" id="id" value="" />
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtnEdit">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{{!-- Delete Modal  --}}
<div class="modal fade" id="deleteModuleModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">
          Confirm Delete
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this module?
        <div class="text-danger font-weight-bold"><strong>This will delete all linked relationships</strong></div>
      </div>
      <div id="actions-delete-module" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" onclick="deleteConfirmed()">
          Delete
        </button>
      </div>

      <div id="action-delete-load-module" class="spinner-border mb-3 centered" style="margin: auto; display:none"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>

{{#section "scripts"}}
<script>
   const CSRF_TOKEN = "{{csrfToken}}";
</script>
<script src="/scripts/list-module.js"></script>
<script src="/scripts/management/module.js"></script>
{{#section "head"}}
<title>Module</title>
{{/section}}