<main class="bg-grey">
  <div class="container-fluid">
    <div class="row">
      <!-- sidebar -->
      {{> sidebar_main}}

      <!-- main content -->
      <div class="col-md-11 col-lg-11 col-xl-11 bg-grey px-4">
        {{> nav_main}}
        <div class="mt-5 bg-white semi-rounded">
          <div class="container p-4">
            <div class="d-flex flex-row justify-content-between">
              <!-- header of main  -->
              <h6 class="text-left fs-4">Requirements</h6>
              <div id="add-req" class="d-flex btn custom-bold-btn">
                <div class="me-2 p-1">Add Requirement</div>
                <img src="/icons/add.svg" alt="" />
              </div>
            </div>
            <hr />

            <div class="min-h-50 row gx-3 d-flex justify-content-between">
              <!-- left side of main -->
              <div class="col-4">
                <div class="h-100 d-flex flex-column p-3 bg-semi-grey semi-rounded">
                  <div class="d-flex">
                    <div class="flex-fill">Modules</div>
                    <div class="d-flex flex-fill ml-2 justify-content-around"></div>
                  </div>
                  <hr />
                  <div class="p-3">
                    <input id="module-search" class="w-100 p-3 pt-1 pb-1" type="text"
                      placeholder="Search module by name" value="{{moduleName}}" />
                  </div>
                  <div id="modulesContainer" class="d-flex flex-column">
                    {{#each modules}}
                    <a href="?module={{this.id}}&moduleName={{../moduleName}}" id="{{this.id}}"
                      class="text-decoration-none module-item d-flex pointer-cursor align-items-center col m-4 mt-4 mb-0 {{#if (weakEquals this.id ../module)}} font-weight-semibold {{else}} font-color-blur{{/if}}">
                      <img class="me-2" src="/icons/ic_round-folder.svg" alt="" />
                      {{this.name}}
                    </a>
                    {{/each}}
                  </div>
                </div>
              </div>

              <!-- right side of main -->
              <div class="col-8">
                <div class="h-100 flex bg-semi-grey semi-rounded p-3">
                  <!-- action bar -->
                  <div class="d-flex align-items-center">
                    <div class="d-flex flex-fill ms-4 align-items-center">
                      <input value="{{requirementName}}" id="search-requirement" type="search"
                        class="form-control rounded" placeholder="Search requirements by title" aria-label="Search"
                        aria-describedby="search-addon" />
                      <span id="search-addon">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                    <div class="ms-3 d-flex align-items-center flex-fill">
                      <span>Sort</span>
                      <div id="sort-dropdown" class="dropdown">
                        <div id="sort-btn" class="d-flex rounded-1 p-2 ms-2 bg-white " role="button"
                          aria-expanded="false">

                          <a class="nav-link " href="#" id="dropdownLanguageId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="me-4 font-weight-semibold">
                              {{#if (equals sortField "requirementCode")}}
                              Requirement Code
                              {{else}}
                              Title
                              {{/if}}
                              <img src="/icons/sort-icon.svg" alt="" />
                            </span>
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownLanguageId">
                            <a class="dropdown-item" href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{page}}&sortField=id&sortType={{sortType}}">Requirement Code</a>
                            <a class="dropdown-item" href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{page}}&sortField=name&sortType={{sortType}}">Title</a>
                          </div>


                          <span class="font-weight-semibold d-flex align-items-center">
                            {{sortType}}
                            <a href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{page}}&sortField=name&sortType={{#if (equals sortType "asc")}}desc{{else}}asc{{/if}}">
                            <img src="/icons/lucide_sort-{{sortType}}.svg" alt="" />
                            </a>
                          </span>
                        </div>

                      </div>
                    </div>
                    <div class="d-flex me-3"></div>
                  </div>

                  <!-- table -->
                  <table class="table mt-4 me-2">
                    <thead>
                      <tr class="semi-rounded blur-green-theme">
                        <th scope="col">Requirement Code</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody id="requirementsContainer">
                      {{#each requirements.rows}}
                      <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.name}}</td>
                        <td class="ps-0">
                          <div class="d-flex pointer-cursor p-2 pt-0 pb-0 justify-content-between">
                            <a href="./requirement/{{this.id}}">
                              <img src="/icons/mdi_eye-outline.svg" alt="" />
                            </a>
                            <img src="/icons/edit.svg" alt="" />
                            <img src="/icons/bin-red.svg" alt="" />
                          </div>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>

                  <!-- pagination -->
                  <div class="row mt-5 align-content-center px-3">
                    <div class="col"></div>
                    <div class="col d-flex align-items-center">

                      {{#if (notEquals page 1)}}
                      <button class="border-0 rounded-3 p-2 text-muted ms-auto">
                        <a href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{dec page }}">
                          <i class="bi bi-chevron-double-left"></i>
                        </a>
                      </button>
                      {{/if}}
                      <div class="bg-main-color rounded-circle d-flex justify-content-center align-items-center mx-3"
                        style="width: 30px; height: 30px">
                        <h1 class="mb-0 text-light" style="font-size: 1.2rem">{{page}}</h1>
                      </div>
                      {{#if (lessThan page totalPages)}}
                      <button class="border-0 rounded-3 p-2 text-muted me-3">
                        <a href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{inc page}}">
                          <i class="bi bi-chevron-double-right"></i>
                        </a>
                      </button>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- add request popup -->
<div id="addReqPopup" class="vh-100 position-absolute overlay top-0 bottom-0 start-0 end-0" style="display: none">
  <div class="d-flex justify-content-center align-items-center w-100 position-absolute top-0 bottom-0 start-0 end-0">
    <!-- main content -->
    <div class="w-75 shadow bg-white">
      <div class="m-4 mt-2 bg-white semi-rounded">
        <div class="container p-4 position-relative">
          <img class="closePopup position-absolute top-0 end-0 pointer-cursor" width="30px"
            src="/icons/clarity_remove-line.svg" alt="" />
          <h6 class="text-left fs-4">Add Requirement</h6>
          <div class="d-flex flex-column justify-content-between align-items-center">
            <div class="d-flex mb-3">
              <div id="saveRequirement" class="ps-3 pe-3 ms-4 d-flex btn custom-btn save-btn">Save</div>
              <div class="closePopup btn custom-btn text-center ps-3 pe-3 ms-4 cancel-btn">Cancel</div>
            </div>

            <span class="fs-6 font-weight-semibold">Select Module <span class="text-danger">*</span></span>
            <select class="form-select w-50 mb-3" aria-label="Default select example" name="module">
              <option value="" selected>Open this select menu</option>
              {{#each modules}}
              <option value="{{this.id}}">{{this.name}}</option>
              {{/each}}
            </select>

            <span class="fs-6 font-weight-semibold">Requirement Name <span class="text-danger">*</span></span>
            <div class="input-group mb-3 w-50">
              <input type="text" class="form-control" placeholder="Requirement name" aria-label="Requirement name"
                name="requirementName" />
            </div>

            <span class="fs-6 font-weight-semibold">Description<span class="text-danger"></span></span>
            <div class="input-group w-50">
              <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JavaScript Libraries -->
{{#section "scripts"}}
<script>
  (function (fn) {
    "use strict";
    fn(window.jQuery, window, document);
  })(function ($, window, document) {
    "use strict";

    $(function () {
      $("#addReqPopup").hide();
      $("#add-req").click(function () {
        $("#addReqPopup").fadeIn(200);
      });

      // Extract the moduleName parameter from the URL
      $('#module-search').on('keypress', function (event) {
        if (event.key === 'Enter') {
          const query = $(this).val();
          const newUrl = new URL(window.location.href);
          newUrl.searchParams.set('moduleName', query);
          newUrl.searchParams.set('size', '');
          newUrl.searchParams.set('page', 1);

          window.location.href = newUrl.href;
        }
      });


      $('#search-requirement').on('keypress', function (event) {
        if (event.key === 'Enter') {
          const query = $(this).val();
          const newUrl = new URL(window.location.href);
          newUrl.searchParams.set('requirementName', query);
          newUrl.searchParams.set('size', '');
          newUrl.searchParams.set('page', 1);


          window.location.href = newUrl.href;
        }
      });



      function sortRequirements(field) {
        // Implement sorting logic based on the selected field
        // You may need to trigger a backend call to fetch sorted data
      }
    });
  });
</script>

<script src="/scripts/add-requirement.js"></script>
{{/section}}