

  <body class="position-relative">
    
    <main class="bg-grey">
      <div class="container-fluid">
        <div class="row">
          <!-- sidebar -->
          {{> sidebar_main}}
          <!-- main content -->
          <div class="bg-grey col-md-11">
                {{> nav_main_depth_2}}
            <div class="m-4 mt-3 bg-white semi-rounded">
              <div class="container p-4">
                <div class="d-flex flex-row justify-content-between">
                  <div
                    class="text-left fs-6 font-weight-semibold pointer-cursor"
                  >
                    <a
                      href="../requirement"
                      style="text-decoration: none"
                      class="text-dark"
                    >
                      Requirements
                    </a>

                    <img
                      class="ms-1 me-1"
                      src="/icons/single-arrow-right.svg"
                      alt=""
                    />
                    First Project
                  </div>

                  <div id="add-linked-popup" class="d-flex pointer-cursor">
                    <img
                      width="35px"
                      src="/icons/ph_link-bold.svg"
                      alt=""
                    />
                    <span class="ms-2 font-weight-semibold"
                      >Add Linked Test Cases</span
                    >
                  </div>
                </div>
                <hr />

                <div
                  class="d-flex flex-column gx-3 ps-4 pe-4 d-flex justify-content-between"
                >
                  <div
                    style="
                      background-color: var(--semi-grey-color);
                      width: fit-content;
                    "
                    class="p-2 semi-rounded pointer-cursor"
                  >
                    <span id="detailReqNav" class="font-weight-semibold p-2"
                      >Detail Requirement</span
                    >
                    <span id="linkedTCNav" class="font-color-blur p-2"
                      >Linked Test Cases</span
                    >
                  </div>

                  <!-- Detail Requirement -->
                  {{#with requirement}}
                  <div
                    id="detailReq"
                    class="shadow mt-4 p-4 ps-3 pe-3 mb-5 bg-body rounded"
                  >
                    <div class="m-2"><b>Title:</b> {{name}}</div>
                    <div class="m-2">
                      <b>Description:</b>{{#if description}}
                      {{description}}
                      {{else}}
                        No description
                        {{/if}}
                    </div>
                     <div class="m-2">
                      <b>URL:</b>{{#if url}}
                     <a href="{{url}}">{{url}}</a> 
                      {{else}}
                        No URL
                        {{/if}}
                    </div>


                    <div class="m-2"><b>Created At:</b> {{formatDate created_at "DD-MM-YYYY" }}</div>

                    <div class="m-2"><b>Created By:</b> {{ Member.User.first_name }}  {{ Member.User.last_name }}</div>
                  </div>
                    {{/with}}
                  <!-- Table Linked Test Cases -->
                  <div id="linkedTestCases" style="display: none">
                    <table class="table mt-4 me-2">
                      <thead>
                        <tr class="semi-rounded blur-green-theme">
                          <th scope="col">Case Code</th>
                          <th scope="col">Title</th>
                          <th scope="col">Steps</th>
                          <th scope="col">Created By</th>

                          <th
                            scope="col"
                            style="
                              max-width: 100px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                          >
                            Created At
                          </th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each testCases}}
                        <tr>
                          <th scope="row">{{id}}</th>
                          <td>{{title}}</td>
                          <td>{{step_count}}</td>

                          <td>{{Member.User.first_name}} {{Member.User.last_name}}</td>

                          <td
                            style="max-width: 100px"
                            class="eclipsis-overflow"
                          >
                            {{formatDate created_at "DD-MM-YYYY" }}
                          </td>

                          <td class="ps-0">
                            <div
                              class="d-flex pointer-cursor p-2 pt-0 pb-0 justify-content-end"
                               onclick="confirmDelete({{this.id}})"
                            >
                              <img
                                src="/icons/octicon_unlink-24.svg"
                                alt=""
                                
                              />
                              <span
                                class="ms-2 font-weight-semibold text-danger"
                                >Unlink</span
                              >
                            </div>
                          </td>
                        </tr>
                        {{/each}}
                      
                        
                      </tbody>
                    </table>

                    <!-- pagination -->
                    <div class="d-flex justify-content-end p-3">
                      <img
                        width="20px"
                        src="/icons/arrow-left.svg"
                        alt=""
                        srcset=""
                      />
                      <span
                        class="p-1 m-2 ps-2 pe-2 rounded-circle bg-green-dark"
                        >1</span
                      >
                      <img
                        width="20px"
                        src="/icons/arrow-right.svg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>

    <!-- add linked-popup -->
    {{> add_linked_testcases }}
  </body>

{{#section "scripts"}}
<script> var CSRF_TOKEN = "{{csrfToken}}";

</script>
    <script>
      (function (fn) {
        "use strict";
        fn(window.jQuery, window, document);
      })(function ($, window, document) {
        "use strict";

        $(function () {
          $("#linkedTestCases").hide();

          $("#detailReqNav").click(function () {
            $("#detailReqNav").attr("class", "p-2 font-weight-semibold");
            $("#linkedTestCases").hide(); // fades it in
            $("#detailReq").fadeIn(300);

            $("#linkedTCNav").attr("class", "p-2 font-color-blur");
          });

          $("#linkedTCNav").click(function () {
            $("#detailReq").hide(); // fades it in
            $("#linkedTestCases").fadeIn(300);

            $("#linkedTCNav").attr("class", "p-2 font-weight-semibold");
            $("#detailReqNav").attr("class", "p-2 font-color-blur");
          });
        });
      });
    </script>
    <script src="/scripts/add-linked-tc.js"></script>
    <script src="/scripts/unlink-tc.js"></script>
{{/section}}