<main class="bg-grey">
  <div class="container-fluid">
    <div class="row">
      <!-- sidebar -->
      {{> sidebar_main}}

      <!-- main content -->
      <div class="col-md-11 col-lg-11 col-xl-11 bg-grey px-4">
        {{> nav_main}}
        <div class="mt-5 bg-white semi-rounded">
          <div class="container p-4">
            <div class="d-flex flex-row justify-content-between">
              <!-- header of main  -->
              <h6 class="text-left fs-4">Test Cases</h6>
              <div class="d-flex align-items-center">
                <img class="me-2 ms-4 pointer-cursor" src="/icons/import.svg" alt="" />
                Import
                <img class="me-2 ms-4 pointer-cursor" src="/icons/export.svg" alt="" />
                Export
                <div id="add-testcase" class="ms-4 d-flex btn custom-bold-btn">
                  <div class="me-2 p-1">Add Test Case</div>
                  <img src="/icons/add.svg" alt="" />
                </div>
              </div>
            </div>
            <hr />

            <div class="min-h-50 row gx-3 d-flex justify-content-between">
              <!-- left side of main -->
              <div class="col-4">
                <div class="h-100 d-flex flex-column p-3 bg-semi-grey semi-rounded">
                  <div class="d-flex">
                    <div class="flex-fill">Modules</div>
                    <div class="d-flex flex-fill ml-2 justify-content-around"></div>
                  </div>
                  <hr />
                  <div class="p-3">
                    <input id="module-search" class="w-100 p-3 pt-1 pb-1" type="text"
                      placeholder="Search module by name" value="{{moduleName}}" />
                  </div>
                  <div id="modulesContainer" class="d-flex flex-column">
                    {{#each modules}}
                    <a href="?module={{this.id}}&moduleName={{../moduleName}}" id="{{this.id}}"
                      class="text-decoration-none module-item d-flex pointer-cursor align-items-center col m-4 mt-4 mb-0 {{#if (weakEquals this.id ../module)}} font-weight-semibold {{else}} font-color-blur{{/if}}">
                      <img class="me-2" src="/icons/ic_round-folder.svg" alt="" />
                      {{this.name}}
                    </a>
                    {{/each}}
                  </div>
                </div>
              </div>

              <!-- right side of main -->
              <div class="col-8">
                <div class="h-100 flex bg-semi-grey semi-rounded p-3">
                  <!-- action bar -->
                  <div class="d-flex align-items-center">
                    <div class="d-flex flex-fill ms-4 align-items-center">
                      <input value="{{testcaseName}}" id="search-requirement" type="search"
                        class="form-control rounded" placeholder="Search test cases by title" aria-label="Search"
                        aria-describedby="search-addon" />
                      <span id="search-addon">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                    <div class="ms-3 d-flex align-items-center flex-fill">
                      <span>Sort</span>
                      <div id="sort-dropdown" class="dropdown">
                        <div id="sort-btn" class="d-flex rounded-1 p-2 ms-2 bg-white " role="button"
                          aria-expanded="false">

                          <a class="nav-link " href="#" id="dropdownLanguageId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="me-4 font-weight-semibold">
                              {{#if (equals sortField "id")}}
                              TestCase Code
                              {{else}}
                              {{#if (equals sortField "created_at")}}
                              Created At
                              {{else}}

                              Title
                              {{/if}}
                              {{/if}}
                              <img src="/icons/sort-icon.svg" alt="" />
                            </span>
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownLanguageId">
                            <a class="dropdown-item"
                              href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{page}}&sortField=id&sortType={{sortType}}">TestCase
                              Code</a>
                            <a class="dropdown-item"
                              href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{page}}&sortField=title&sortType={{sortType}}">Title</a>
                            <a class="dropdown-item"
                              href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{page}}&sortField=created_at&sortType={{sortType}}">Created At
                              </a>

                          </div>


                          <span class="font-weight-semibold d-flex align-items-center">
                            {{sortType}}
                            <a href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{page}}&sortField={{sortField}}&sortType={{#if (equals sortType "asc")}}desc{{else}}asc{{/if}}">
                              <img src="/icons/lucide_sort-{{sortType}}.svg" alt="" />
                            </a>
                          </span>
                        </div>

                      </div>
                    </div>
                    <div class="d-flex me-3"></div>
                  </div>

                  <!-- table -->
                  <table class="table mt-4 me-2">
                    <thead>
                      <tr class="semi-rounded blur-green-theme">
                        <th scope="col">Case Code</th>
                        <th scope="col">Title</th>
                        <th scope="col">Steps</th>
                        <th scope="col">Created By</th>

                        <th scope="col" style="
                                max-width: 100px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              ">
                          Created At
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody id="testcasesContainer">
                      {{#each testcases}}
                      <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.title}}</td>
                        <td>{{this.step_count}}</td>
                        <td>{{this.Member.User.first_name }} {{this.Member.User.last_name }}</td>
                        <td style="max-width: 100px" class="eclipsis-overflow">
                          {{formatDate this.createdAt "DD-MM-YYYY"}}
                        </td>
                        <td class="ps-0">
                          <div class="d-flex pointer-cursor p-2 pt-0 pb-0 justify-content-end">
                            
                            <img src="/icons/mdi_eye-outline.svg" alt="" onclick="onClickViewTCDetail({{this.id}})" />
                            <img src="/icons/bin-black.svg" alt="" />
                          </div>
                        </td>
                      </tr>
                      {{/each}}


                    </tbody>
                  </table>

                  <!-- pagination -->
                   <div class="row mt-5 align-content-center px-3">
                    <div class="col"></div>
                    <div class="col d-flex align-items-center">

                     
                      <button class="border-0 rounded-3 p-2 text-muted ms-auto">
                         {{#if (notEquals page 1)}}
                        <a href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{dec page }}">
                          <i class="bi bi-chevron-double-left"></i>
                        </a>
                      {{/if}}

                      </button>
                      <div class="bg-main-color rounded-circle d-flex justify-content-center align-items-center mx-3"
                        style="width: 30px; height: 30px">
                        <h1 class="mb-0 text-light" style="font-size: 1.2rem">{{page}}</h1>
                      </div>
                     
                      <button class="border-0 rounded-3 p-2 text-muted me-3">
                         {{#if (lessThan page totalPages)}}
                        <a href="?module={{module}}&moduleName={{moduleName}}&size={{size}}&page={{inc page}}">
                          <i class="bi bi-chevron-double-right"></i>
                        </a>
                      {{/if}}

                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->

<div id="testCasePopup" class="vh-100 overlay position-absolute top-0 bottom-0 start-0 end-0" style="display: none;">
  <div class="d-flex justify-content-center align-items-center w-100 position-absolute top-0 bottom-0 start-0 end-0">
    <!-- main content -->
    <div class="w-75 shadow bg-white">
      <div class="m-4 mt-2 bg-white semi-rounded">
        <div class="container p-4 position-relative">
          <img class="closePopup position-absolute top-0 end-0 pointer-cursor" width="30px"
            src="/icons/clarity_remove-line.svg" alt="" />
          <h6 class="text-left fs-4">Add Test Case</h6>
          <div class="d-flex mb-3 justify-content-center">
            <div id="saveTestCase" class="ps-3 pe-3 ms-4 d-flex btn save-btn">Save</div>
            <div class="closePopup btn text-center ps-3 pe-3 ms-4 cancel-btn">
              Cancel
            </div>
          </div>
          <div class="d-flex justify-content-between gap-5">
            <div class="flex-fill">
              <span class="fs-6 font-weight-semibold">Select Module <span class="text-danger">*</span></span>
              <select class="form-select w-100 mb-3" aria-label="Default select example" name="module">
                <option value="" selected>Open this select menu</option>
                {{#each modules}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>

              <span class="fs-6 font-weight-semibold">Testcase Name <span class="text-danger">*</span></span>
              <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" placeholder="Testcase name" aria-label="Testcase name"
                  name="testcase-name" />
              </div>

              <span class="fs-6 font-weight-semibold">Description<span class="text-danger"></span></span>
              <div class="input-group w-100">
                <textarea class="form-control" aria-label="With textarea" name="testcase-description"></textarea>
              </div>
            </div>

            <div class="flex-fill flex-column">
              <div class=" d-flex justify-content-between w-67 gap-2">
                <span>Step Description <span class="text-danger">*</span></span>
                <span>Expected Result</span>
              </div>

              <div class="test-step d-flex justify-content-around gap-3">
                <div class="input-group w-50">
                  <textarea class="form-control" aria-label="With textarea" name="step-description"></textarea>
                </div>
                <div class="input-group w-50">
                  <textarea class="form-control" aria-label="With textarea" name="expected-result"></textarea>
                </div>

                <div class="d-flex gap-2">
                  <img class="pointer-cursor delete-teststep-btn" width="20px" src="/icons/bin-black.svg" alt="" />
                  <img class="pointer-cursor add-teststep-btn" width="20px" src="/icons/add-black.svg" alt="" />
                </div>

                <!-- // add more steps -->
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

<div id="testcaseDetailPopup" class="vh-100 overlay position-absolute top-0 bottom-0 start-0 end-0"
  style="display: none;">
  <div class="d-flex justify-content-center align-items-center w-100 position-absolute top-0 bottom-0 start-0 end-0">
    <!-- main content -->
    <div class="w-75 shadow bg-white">
      <div class="m-4 mt-2 bg-white semi-rounded">
        <div class="container p-4 position-relative">
          <img class="closeTCPopup position-absolute top-0 end-0 pointer-cursor" width="30px"
            src="/icons/clarity_remove-line.svg" alt="" />
          <h6 class="text-left fs-4">Test Case Detail</h6>
          <div class="d-flex justify-content-between gap-5">
            <div class="flex-fill" style="max-width: 50%;">
              <div class="fs-6 mb-1">
                <span class="min-w-100px">Module :</span> <b id="tcdetail-module-name">Module 1</b>
              </div>


              <div class="fs-6 mb-1">
                <span class="min-w-100px"> Testcase Name :</span> <b id="tcdetail-tc-name">Login-Nopass-Error</b>
              </div>


              <div class="fs-6 ">Description</div>
              <div id="tcdetail-tc-description" class="input-group w-100 border semi-border-grey semi-rounded p-2"
                style="min-height: 20vh;">

                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, velit. Voluptatem magni impedit
                perspiciatis. Omnis voluptatibus aspernatur reprehenderit voluptas fuga, consectetur impedit quisquam,
                ipsa blanditiis ullam odit enim, aperiam praesentium!
              </div>
            </div>

            <div id="tcdetail-steps" class="flex-fill flex-column">
              <div class=" d-flex justify-content-between w-40 gap-2">
                <span>Step Description </span>
                <span>Expected Result</span>
              </div>

              <div class="test-step d-flex justify-content-around gap-3">
                <div class="input-group w-50 border semi-border-grey semi-rounded p-2">

                  Lorem ipsum dolor, sit amet consectetur !
                </div>
                <div class="input-group w-50 border semi-border-grey semi-rounded p-2">

                  Lorem ipsum dolor, sit amet consectetur !
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>



{{#section 'scripts'}}
<script>
  const dataStr = `{{{testcasesJson}}}`;
  const testCases = JSON.parse(dataStr);
  const chosenModuleName = "{{{chosenModuleName}}}";

console.log(testCases, chosenModuleName)
</script>
<script>
  (function (fn) {
    "use strict";
    fn(window.jQuery, window, document);
  })(function ($, window, document) {
    "use strict";

    $(function () {

      $("#modulesContainer .col").click(function () {
        var clickedModuleId = $(this).attr("id"); // Get clicked module's ID

        // Loop through all other modules within the container
        $("#modulesContainer .col").each(function () {
          var currentModuleId = $(this).attr("id");

          // Apply styles based on clicked module
          if (currentModuleId !== clickedModuleId) {
            $(this)
              .removeClass("font-weight-semibold")
              .addClass("font-color-blur");
          } else {
            $(this)
              .removeClass("font-color-blur")
              .addClass("font-weight-semibold");
          }
        });
      });
      $("#testCasePopup").hide();
      $("#add-testcase").click(function () {
        $("#testCasePopup").fadeIn(200);
      });




       $('#module-search').on('keypress', function (event) {
        if (event.key === 'Enter') {
          const query = $(this).val();
          const newUrl = new URL(window.location.href);
          newUrl.searchParams.set('moduleName', query);
          newUrl.searchParams.set('size', '');
          newUrl.searchParams.set('page', 1);

          window.location.href = newUrl.href;
        }
      });


      $('#search-requirement').on('keypress', function (event) {
        if (event.key === 'Enter') {
          const query = $(this).val();
          const newUrl = new URL(window.location.href);
          newUrl.searchParams.set('testcaseName', query);
          newUrl.searchParams.set('size', '');
          newUrl.searchParams.set('page', 1);


          window.location.href = newUrl.href;
        }
      });
    });
  });
</script>

<script src="/scripts/add-testcase.js"></script>
<script src="/scripts/view-detail-tc.js"></script>

{{/section}}